#### Veriyi Hazırlama

In [3]:
import pandas as pd

adult_census = pd.read_csv("dataset/adult-census.csv")
# drop the duplicated column `"education-num"` as stated in the first notebook
adult_census = adult_census.drop(columns="education-num")
data, target = adult_census.drop(columns="class"), adult_census["class"]
adult_census.head()
print(target)

0         <=50K
1         <=50K
2          >50K
3          >50K
4         <=50K
          ...
48837     <=50K
48838      >50K
48839     <=50K
48840     <=50K
48841      >50K
Name: class, Length: 48842, dtype: object

#### Her kolondaki verilerin türü

In [4]:
data.dtypes

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

#### Kaç tane mümkün veri tipi data setinin içinde?

In [5]:
data.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

#### Nümerik Kolonları tanımlama ve bunları görselleştirme

In [6]:
numerical_columns = ["age", "capital-gain", "capital-loss", "hours-per-week"]
data[numerical_columns].head()

   age  capital-gain  capital-loss  hours-per-week
0   25             0             0              40
1   38             0             0              50
2   28             0             0              40
3   44          7688             0              40
4   18             0             0              30

#### Nümerik kolonları ayrı bir df'e kaydetme

In [7]:
data_numeric = data[numerical_columns]

#### datayı train-test olarak bölme

In [8]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(
    data_numeric, target, random_state=42, test_size=0.25)

#### Train ve test olarak bölünen datalardaki sample'ları inceleme

In [9]:
print(f"Number of samples in testing: {data_test.shape[0]} => "
      f"{data_test.shape[0] / data_numeric.shape[0] * 100:.1f}% of the"
      f" original set")
print(f"Number of samples in training: {data_train.shape[0]} => "
      f"{data_train.shape[0] / data_numeric.shape[0] * 100:.1f}% of the"
      f" original set")

Number of samples in testing: 12211 => 25.0% of the original set
Number of samples in training: 36631 => 75.0% of the original set

#### Modeli uygulama ve accuracy skoru elde etme

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(data_train, target_train)
accuracy = model.score(data_test, target_test)
print(f"Accuracy of logistic regression: {accuracy:.3f}")

Accuracy of logistic regression: 0.807